.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#556B2F;
  ;
}

h1 {
  margin: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  color: #FFFAF0;
}

p {
  font-size: 2rem;
  color: #FFF0F5;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower';

}
